@import url("http://fonts.googleapis.com/css?family=Cinzel+Decorative:900");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,800");

* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  margin: 0;
  color: #0A0A0A;
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 100%;
  padding: 20px;
}

.header {
  // height: 300px;
  // box-shadow: inset 0 -10px 10px -10px #161313;
  // -moz-box-shadow: inset 0 -10px 10px -10px #161313;
  // -webkit-box-shadow: inset 0 -10px 10px -10px #161313;
  // border-top: 1px solid rgba(255,255,255,0.3);
  //   @bgcolor1: #594F4F;
  //   @bgcolor2: #363030;
  //   background-color: @bgcolor1;
  //   background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, @bgcolor2), color-stop(90%, @bgcolor1));
  //   background-image: -webkit-linear-gradient(center bottom, @bgcolor2 0%, @bgcolor1 90%);
  //   background-image: -moz-linear-gradient(center bottom, @bgcolor2 0%, @bgcolor1 90%);
  //   background-image: -o-linear-gradient(center bottom, @bgcolor2 0%, @bgcolor1 90%);
  //   background-image: linear-gradient(center bottom, @bgcolor2 0%, @bgcolor1 90%);
  ul {
    list-style-type: none;
    li {
      float: left;

      a {
        padding: 5px;
      }
    }
  }

  .logo {
    font-family: "Cinzel Decorative";
    font-weight: 900;
    font-size: 250%;
    // text-shadow: #fff 0px 1px 1px;
    -webkit-font-smoothing: antialiased;
    // height: 50px;
    padding-top: 0px;
    line-height: 1;
  }
}

.lead {
  background-color: #99B2B7;
  // border-top: 1px solid #D6D6D6;
  // border-bottom: 1px solid #D6D6D6;
  color: #fff;
  p {
    color: #white;
    width: 100%;
    font-size: 200%;
    font-weight: 800;
    text-align: center;
  }

  .links {
    text-align: center;
    margin-top: 50px;
    a {
    // color
    }
  }
}


@media (max-width: 767px) {
  body {
    padding: 0;
  }
}
