@import url("http://fonts.googleapis.com/css?family=Cinzel+Decorative:900");

@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,800");
* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  margin: 0;
  color: #0A0A0A;
  font-family: 'Open Sans', sans-serif;
}
.container {
  width: 100%;
  padding: 20px;
}
.header ul {
  list-style-type: none;
}
.header ul li {
  float: left;
}
.header ul li a {
  padding: 5px;
}
.header .logo {
  font-family: "Cinzel Decorative";
  font-weight: 900;
  font-size: 250%;
  -webkit-font-smoothing: antialiased;
  padding-top: 0px;
  line-height: 1;
}
.lead {
  background-color: #99B2B7;
  color: #fff;
}
.lead p {
  color: #white;
  width: 100%;
  font-size: 200%;
  font-weight: 800;
  text-align: center;
}
.lead .links {
  text-align: center;
  margin-top: 50px;
}
@media (max-width: 767px) {
  body {
    padding: 0;
  }
}
