@import url(http://fonts.googleapis.com/css?family=Cinzel+Decorative:900);

body {
  font-size: 14px;
}

.container {
  width: 100%;
}

.header {
  background: url(../images/noise.png);
  height: 300px;
  box-shadow: inset 0 -10px 10px -10px #000000;
  -moz-box-shadow: inset 0 -10px 10px -10px #000000;
  -webkit-box-shadow: inset 0 -10px 10px -10px #000000;
  padding: 40px 20px;
}

.logo {
  font-family: "Cinzel Decorative";
  font-weight: 900;
  font-size: 300%;
  color: #ffffff;
  height: 100px;
  padding-top: 0px;
  line-height: 1;
}
