<ul class="toc">
  <li>Table of Contents <span class="icon-caret-down"></span></li>
  <li{% if page.title == "Welcome" %} class="active"{% endif %}><a href="/docs">Welcome</a></li>
  <li{% if page.title == "Installation" %} class="active"{% endif %}><a href="/docs/installation">Installation</a></li>
  <li{% if page.title == "Configuration" %} class="active"{% endif %}><a href="/docs/configuration">Configuration</a></li>
  <li{% if page.title == "Customization" %} class="active"{% endif %}><a href="/docs/customization">Customization</a></li>
  <li{% if page.title == "Deployment" %} class="active"{% endif %}><a href="/docs/deployment">Deployment</a></li>
  <li{% if page.title == "Client Integration" %} class="active"{% endif %}><a href="/docs/client-integration">Client Integration</a></li>
  <li{% if page.title == "Contributing" %} class="active"{% endif %}><a href="/docs/contributing">Contributing</a></li>
</ul>
