<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      {% if page.title != "CASino" %}
        {{ page.title }} -
      {% endif %}
      CASino
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/css/foundation.css" rel="stylesheet">
    <link href="/css/pygments.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
  </head>

  <body>
    <section class="header">
      <div class="row">
        <div class="three columns">
          <div class="logo">
            <a href="/">CASino</a>
          </div>
        </div>
        <div class="nine columns">
          <ul class="nav">
            <li{% if page.title == "CASino" %} class="active"{% endif %}>
              <a href="/">Home</a>
            </li>
            <li{% if page.title != "CASino" %}{% if page.title != "Screenshots" %} class="active"{% endif %}{% endif %}>
              <a href="/docs/">Documentation</a>
            </li>
            <li{% if page.title == "Screenshots" %} class="active"{% endif %}>
              <a href="/screenshots/">Screenshots</a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    {{ content }}

    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/jquery.fancybox.js"></script>
    <script src="/javascripts/main.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39183551-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>
